<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Display KTM</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            #pfieldset{
                background-color: #EFF5F5;
            }
            #pisi{
                
                text-align: left;
            }
            h1{
                color: #004D40;
                font: 10px;
                margin: 15px 0px 0px 20px;
                padding: 0px 0px 0px 15px;
            }
        </style>
    </head>
    <body>
        <img src="logo.png" style="float: left" />
        <h1>KTM</h1>
        <br/> 
        <hr/>
        <center>
        <fieldset id="pfieldset" style="width: 400px">
            <img src="logo.png"/>
            <hr/>
            <div>
            <p id="pnama" style="float: right" >
                <img style="float: right; width: 200px" th:src="${pic}"/><br><br>
            </p>
            <p id="pisi">
                <l th:text="${pktnama}"></l><br>
            </p>
            <p id="pisi">
                <l th:text="${pktnim}"></l><br>
            </p>
            <p id="pisi">
                <l th:text="${pkttempat}"></l>
                , <l th:text="${pkttgl}"></l><br>
            </p>
            <p id="pisi">
                <l th:text="${pktjrsn}"></l><br>
            </p>
            <p id="pisi">
                <l th:text="${pktemail}"></l>
            </p>
        </fieldset>
        </center> 
    </body>
</html>
