<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Display KTM</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <center>
            <h1>KTM</h1>
        </center>
        <hr/>
        <center>
        <fieldset id="pfieldset">
            <p id="pnama">
                Nama : <l th:text="${pktnama}"></l>
            </p>
            <br/>
            
            <p id="plok">
                NIM : <l th:text="${pktnim}"></l>
            </p>
            <br/>
            
            <p id="plok">
                Tempat Lahir : <l th:text="${pkttempat}"></l>
            </p>
            <br/>
            
            <p id="plok">
                Tanggal Lahir : <l th:text="${pkttgl}"></l>
            </p>
            <br/>
            
            <p id="plok">
                Jurusan : <l th:text="${pktjrsn}"></l>
            </p>
            <br/>
            
            <p id="plok">
                Email : <l th:text="${pktemail}"></l>
            </p>
            <br/>
            
            <p id="pgmbr">
                Gambar :
                <br/>
            </p>
            <center>
                <img th:src="${pic}"/>
            </center>
            
        </fieldset>
        </center> 
    </body>
</html>
