<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Display KTM</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            #pfieldset{
                background-color: #FFDEB4;
            }
            #pisi{
                
                text-align: left;
            }
        </style>
    </head>
    <body>
        <center>
            <h1>KTM</h1>
        </center>
        <hr/>
        <center>
        <fieldset id="pfieldset" style="width: 480px">
            <div>
            <p id="pnama" style="float: right" >
                <img style="float: right; width: 200px" th:src="${pic}"/><br><br>
            </p>
            <p id="pisi">
                Nama : <l th:text="${pktnama}"></l><br>
            </p>
            <p id="pisi">
                NIM : <l th:text="${pktnim}"></l><br>
            </p>
            <p id="pisi">
                TTL : <l th:text="${pkttempat}"></l>
                , <l th:text="${pkttgl}"></l><br>
            </p>
            <p id="pisi">
                Jurusan : <l th:text="${pktjrsn}"></l><br>
            </p>
            <p id="pisi">
                Email : <l th:text="${pktemail}"></l>
            </p>
        </fieldset>
        </center> 
    </body>
</html>
